.navMenu {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 100%;
  z-index: 100;
  left: 1.5rem;
  bottom: 2.5vw;
}

.navLink {
  position: relative;
  margin-right: 1rem;

  font-family: fira-sans-condensed, sans-serif;
}
