.hero {
  width: 100%;
  background-color: #cbccce;
}

.h3span {
  display: block;
  font-family: fira-sans-condensed, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: italic;
}

.right {
  composes: h3span;
  text-align: right;
}

.left {
  composes: h3span;
  text-align: left;
}
